*#
*.a
*.gcda
*.gcno
*.o
*.orig
*.os
*.patch
*.rej
*.so
*.so.1
*~
.#*
.deps
.glimpse_*
=*
Makefile
Makefile.in
/*.lcov
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.*
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/coverage
/elfutils.spec
/stamp-h1
/version.h
