/*.log
/*.trs
/addrcfi
/addrscopes
/addsections
/aggregate_size
/all-dwarf-ranges
/alldts
/allfcts
/allregs
/arextract
/arls
/arsymtest
/asm-tst1
/asm-tst2
/asm-tst3
/asm-tst4
/asm-tst5
/asm-tst6
/asm-tst7
/asm-tst8
/asm-tst9
/attr-integrate-skel
/backtrace
/backtrace-child
/backtrace-child-biarch
/backtrace-data
/backtrace-dwarf
/buildid
/core-dump-backtrace.lock
/debugaltlink
/debuginfod_build_id_find
/debuglink
/deleted
/dwarf-die-addr-die
/dwarf-getmacros
/dwarf-getstring
/dwarf-ranges
/dwarf_default_lower_bound
/dwarfcfi
/dwelf_elf_e_machine_string
/dwelfgnucompressed
/dwfl-addr-sect
/dwfl-bug-addr-overflow
/dwfl-bug-fd-leak
/dwfl-bug-getmodules
/dwfl-bug-report
/dwfl-proc-attach
/dwfl-report-elf-align
/dwfl-report-segment-contiguous
/dwfllines
/dwflmodtest
/dwflsyms
/early-offscn
/ecp
/elfcopy
/elfgetchdr
/elfgetzdata
/elfputzdata
/elfrdwrnop
/elfshphehdr
/elfstrmerge
/elfstrtab
/emptyfile
/fillfile
/find-prologues
/funcretval
/funcscopes
/get-aranges
/get-files
/get-lines
/get-pubnames
/get-units-invalid
/get-units-split
/getphdrnum
/getsrc_die
/hash
/leb128
/line2addr
/low_high_pc
/msg_tst
/newdata
/newfile
/newscn
/next-files
/next-lines
/next_cfi
/nvidia_extended_linemap_libdw
/peel_type
/rdwrmmap
/read_unaligned
/rerequest_tag
/saridx
/scnnames
/sectiondump
/show-abbrev
/show-die-info
/showptable
/strptr
/system-elf-libelf-test
/test-elf_cntl_gelf_getshdr
/test-flag-nobits
/test-nlist
/typeiter
/typeiter2
/unit-info
/update1
/update2
/update3
/update4
/varlocs
/vdsosyms
/vendorelf
/xlate_notes
/zstrptr
